<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Article Analysis</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <h1>Article Analysis</h1>
            <i class="fas fa-file-alt"></i>
        </header>
        <main>
            <form>
                <label for="url">URL</label>
                <input type="text" name="url" id="url" placeholder="enter article url here">
                <span></span>
                <button type="submit">Analyze</button>
            </form>
        </main>
        <section>
        </section>
        <footer>
            <i class="fas fa-copyright">2020</i>
        </footer>
        <script>
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>